a{
    margin: 10px;

}

.titulo{
    font-size: 60px;
    position:fixed;
    left: 30%;
    background-color:#000000;
    text-shadow: 5px 5px 5px rgb(12, 12, 12);

}

body{
    background-color: rgb(8, 8, 8);
    font-family: 'Times New Roman', Times, serif;
    color: black;

}

.capas{
    height: 150%;
    width: 150%;
    display: grid;
    flex-direction: row;

}

.imagem{
    position:fixed;
    left:35%;
    top: 30%;

}
