body{
    background-color: rgb(8, 8, 8);
    font-family: 'Times New Roman', Times, serif;
}

.titulo{
    position: fixed;
    font-size: 60px;
    text-shadow: 4px 2px 2px rgb(255, 255, 255);

}

#subtitulo{
    padding-top: 6em;
    position: fixed;
    font-size: 28px;
    color: #ccc;
    z-index: 1;
    
 
    
}

#subtitulo:hover{
    cursor: pointer;
}

a:link{
    text-decoration: none;
}


.capas-esquerda{
    display: flex;
    flex-direction: column;
    position: relative;

}


.imagem{
    position:fixed;
    left:32%;
    top: 40%;


}

.formulario{
    position: absolute row;
    width: 250px;
    padding: 30px;
    border:1px solid #ccc;
}

.formulario p{
    color: azure;
    left: 40%;

}

.container{
    display: flex;
    justify-content: center;
}

#nome{
    
}

@media screen and (max-width: 600px){

    .imagem{position: relative;
    
    }
    

 
}
